.playBack{
  box-sizing: border-box;
  padding: 20px 0;
}
.topRig{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 25px;
  box-sizing: border-box;
  >input{
    width: 206px;
    height: 32px;
    font-size: 14px;
    border-radius: 6px;
    margin-left: 4px;
  }
  >span{
    display: inline-block;
    min-width: 60px;
    font-size: 14px;
    color: #333333;
  }
  >button{
    width: 72px;
    height: 32px;
    border-radius: 6px;
    margin-left: 15px;
  }
}
.seles{
  margin-bottom: 20px;
  >span{
    color: #333333;
    display: inline-block;
    min-width: 60px;
  }
}
.live_box{
  margin-left: -30px;
  margin-top: 40px;
  >div{
    padding: 0 30px;
    box-sizing: border-box;
    margin-bottom: 30px;
    >div{
      width: 100%;
      overflow: hidden;
      cursor: pointer;
      height: 100%;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0,0,0,0.5);
      >.liveScreen{
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,1);
        i{
          color: #fff;
          font-size: 43px;
        }
      }
      >.conts{
        box-sizing: border-box;
        padding: 10px;
        >p{
          font-size: 16px;
          color: #333333;
          margin-bottom: 10px;
        }
      }
    }
  }
}