:root{
  --background:#1c2541;
  --face-color:#fff;
}
.box{
  background-color: #1c2541;
  display:flex;
  justify-content:center;
  align-items:center;
  width: 100%;
  height: 100%;
  position: relative;
}
.titles{
  font-size: 73px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 20px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.eve{
  position:relative;
  display:flex;
  justify-content:center;
  width:250px;
  height:400px;
  border:1px solid transparent;
  animation: motion 2s infinite;


}
.eve-face{
  position:absolute;
  display:flex;
  justify-content:center;
  align-items:center;
  width:90px;
  height:70px;
  top:60px;
  background:var(--face-color);
  border-radius:100px 100px 45px 45px;
  box-shadow:10px 5px 6px grey inset;
}
.eve-skin{
  postion:absolute;
  width:80px;
  height:55px;
  background:#000;
  border-radius:100px 100px 70px 70px;

}
.left-eye{
  position:absolute;
  top:30px;
  left:20px;
  width:20px;
  height:12px;
  background:#067FE2;
/*   border-radius:100px 100px 50px 50px; */
  clip-path: ellipse(50% 45% at 50% 50%);
  animation:eyeblink 2s infinite;


}
.right-eye{
  position:absolute;
  top:30px;
  right:20px;
  width:20px;
  height:12px;
  background:#067FE2;
/*   border-radius:100px 100px 50px 50px; */
  clip-path: ellipse(50% 45% at 50% 50%);
  animation:eyeblink 2s infinite;
}
.left-eye .pupil{
  position:absolute;
  top:4px;
  left:5px;
  width:10px;
  height:4px;
  background:#fff;
  opacity:0.6;
  border-radius:50%;
}

.right-eye .pupil{
  position:absolute;
  top:4px;
  right:5px;
  width:10px;
  height:4px;
  background:#fff;
  opacity:0.6;
  border-radius:50%;
}

/* .eve-body{
  position:absolute;
  top:140px;
  width:95px;
  height:200px;
  background:#fff;


} */
.eve-body{
  position: absolute;
  top: 140px;
  background:#fff;
  width: 95px;
  height: 200px;
  clip-path: ellipse(50% 100% at 50% 100%);
  transform:rotate(180deg);
  overflow: hidden;
  box-shadow:-50px 3px 8px inset grey;
}
.eve-left-hand{
  position:absolute;
  width:60px;
  height:140px;
  top:140px;
  right:165px;
  background:#fff;
  transform:rotate(185deg);
  clip-path: ellipse(25% 50% at 50% 50%);
  box-shadow:28px 3px 6px inset grey;


}
.eve-right-hand{
  position:absolute;
  width:60px;
  height:140px;
  top:140px;
  left:165px;
  background:#fff;
  transform:rotate(-185deg);
  clip-path: ellipse(25% 50% at 50% 50%);
  box-shadow:-28px 3px 6px inset grey;

}
@keyframes motion{
  0%{transform:translateY(0px);}
  50%{transform:translateY(-60px);}
 }

@keyframes eyeblink{
   0%,30%,35%,100% {
        transform: scale(1);
    }
    33%,34% {
        transform: scale(1, 0);
    }

}


.container {
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin: 15px auto;
  width: 240px;
  height:60px;
  transform: rotateX(40deg) translateX(-50%);
  transform-style: preserve-3d;
}

/* Light gray bottom part */
.base {
  background: #bbb;
  border-radius: 16px;
  box-shadow: 0 -6px 0px #777777 inset;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  position: relative;
  transform-style: preserve-3d;
  width: 240px;
  height: 60px;
}

/* Clickable area containing both dark gray parts of button */
.btn-wrapper {
  border: 0;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  transform-style: preserve-3d;
}
.btn-wrapper:active .btn {
  transform: translateZ(1px);
}
.btn-wrapper:active .btn-side {
  transform: translateZ(0);
}
.btn-wrapper:focus {
  outline: none;
}

/* Top of button */
.btn {
  background: #444 linear-gradient(#888888, transparent 50%);
  border-radius: 16px;
  box-shadow: 0 0 5px #888888 inset;
  color: #f80;
  display: block;
  font-weight: bold;
  width: 210px;
  height:60px;
  font-size: 30px;
  transform: translateZ(36px);
  transition: all 0.05s;
  text-align: center;
  text-shadow: 0 0 24px #f80, 0 -2.4px 0 #222222, 0 2.4px 0 #ffbb33;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
