.boxs{
  box-sizing: border-box;
  padding: 0px 40px;
}
/deep/ .ant-tabs-nav .ant-tabs-tab{
  font-size: 16px;
}
.seachBox{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
  /deep/ .ant-select{
    width: 160px;
  }
  >div:not(:last-child){
    margin-right: 20px;
  }
}
.tables{
  margin-top: 20px;
}
.actiosn{
  cursor: pointer;
}